__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
venv/
.venv/
.aws-sam/
samconfig.toml
.env
.env.local
*.log
*.tmp
*.bak
*.zip
.vscode/
.idea/
*.swp
.DS_Store
htmlcov/
.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
